header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  h1 {
    font-family: $font;
    font-size: 3.5rem;
  }
  a {
    position: absolute;
    bottom: 5%;
    font-size: 2rem;
    color: black;
  }
}