article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(135deg, #130059 0%, #7a3295 40%, #30b13f 77%, #e49900 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  max-width: 100%;
}

header {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header h1 {
  font-family: "Nothing You Could Do", cursive;
  font-size: 3.5rem;
  text-shadow: 0 0 3px white, 0 0 5px white;
}

header a {
  position: absolute;
  bottom: 5%;
  font-size: 2rem;
  color: black;
  text-decoration: none;
  -webkit-animation: glow 0.5s ease-in-out infinite alternate;
          animation: glow 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px white, 0 0 8px white, 0 0 10px;
  }
  to {
    text-shadow: 0 0 10px white, 0 0 15px white, 0 0 20px white;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px white, 0 0 8px white, 0 0 10px;
  }
  to {
    text-shadow: 0 0 10px white, 0 0 15px white, 0 0 20px white;
  }
}

main {
  position: relative;
  height: 100vh;
  width: 90%;
  padding-top: 20px;
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards {
  height: 100%;
}

#shuffle,
.card-container {
  height: 300px;
  width: 150px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #202020;
}

.card-container {
  position: absolute;
  top: 50%;
}

.card-container * {
  display: none;
}

.card-container:nth-of-type(1) {
  left: 15%;
  background: lightblue;
  -webkit-transform: translateY(-50%) rotate(-10deg);
          transform: translateY(-50%) rotate(-10deg);
}

.card-container:nth-of-type(2) {
  left: 20%;
  background: palevioletred;
  -webkit-transform: translateY(-50%) rotate(-5deg);
          transform: translateY(-50%) rotate(-5deg);
}

.card-container:nth-of-type(3) {
  left: 25%;
  background: rebeccapurple;
  -webkit-transform: translateY(-50%) rotate(15deg);
          transform: translateY(-50%) rotate(15deg);
}

.card-container:nth-of-type(4) {
  left: 30%;
  background: blue;
  -webkit-transform: translateY(-50%) rotate(10deg);
          transform: translateY(-50%) rotate(10deg);
}

.card-container:nth-of-type(5) {
  left: 35%;
  background: peachpuff;
  -webkit-transform: translateY(-50%) rotate(-5deg);
          transform: translateY(-50%) rotate(-5deg);
}

.card-container:nth-of-type(6) {
  left: 40%;
  background: orange;
  -webkit-transform: translateY(-50%) rotate(5deg);
          transform: translateY(-50%) rotate(5deg);
}

.card-container:nth-of-type(7) {
  left: 45%;
  background: blueviolet;
  -webkit-transform: translateY(-50%) rotate(-10deg);
          transform: translateY(-50%) rotate(-10deg);
}

.card-container:nth-of-type(8) {
  left: 50%;
  background: red;
  -webkit-transform: translateY(-50%) rotate(5deg);
          transform: translateY(-50%) rotate(5deg);
}

.card-container:nth-of-type(9) {
  left: 55%;
  background: white;
  -webkit-transform: translateY(-50%) rotate(-5deg);
          transform: translateY(-50%) rotate(-5deg);
}

.card-container:nth-of-type(10) {
  left: 60%;
  background: lightgreen;
  -webkit-transform: translateY(-50%) rotate(-10deg);
          transform: translateY(-50%) rotate(-10deg);
}

.card-container:nth-of-type(11) {
  left: 65%;
  background: limegreen;
  -webkit-transform: translateY(-50%) rotate(5deg);
          transform: translateY(-50%) rotate(5deg);
}

.card-container:nth-of-type(12) {
  left: 70%;
  background: rosybrown;
  -webkit-transform: translateY(-50%) rotate(15deg);
          transform: translateY(-50%) rotate(15deg);
}

.card-container:nth-of-type(13) {
  left: 75%;
  background: firebrick;
  -webkit-transform: translateY(-50%) rotate(5deg);
          transform: translateY(-50%) rotate(5deg);
}

.card-container:nth-of-type(13) ~ .card-container {
  display: none;
}

.card-container.the-past,
.card-container.the-present,
.card-container.the-future {
  position: static;
  -webkit-transform: none;
          transform: none;
}

.card-container.the-past h2,
.card-container.the-present h2,
.card-container.the-future h2 {
  display: block;
}

.card-container.the-past:hover, .card-container.the-past:focus,
.card-container.the-present:hover,
.card-container.the-present:focus,
.card-container.the-future:hover,
.card-container.the-future:focus {
  -webkit-transform: none;
          transform: none;
}

button.card-container:hover, button.card-container:focus {
  -webkit-transform: translateX(-20px) translateY(-55%);
          transform: translateX(-20px) translateY(-55%);
}

.clickedIt {
  display: none;
}
